<ul>
	<li>COD: <%= @sale.cod %> </li>
	<li>Detalle: <%= @sale.detail %></li>
	<li>Category: <%= @sale.category %></li>
	<li>Valor: <%= @sale.value %></li>
	<li>Discount: <%= @sale.discount %></li>
	<li>Tax: <%= @sale.tax %></li>
	<li>Total: <%= @sale.total %></li>
</ul>

<%= link_to 'Volver', root_path %>